/* 
    Integrantes: Cauê de Andrade, Matheus Amaral Abdala, Eduardo Oliveira Ventura, Isabella Carregoza Silva.
*/

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.read-more {
    display: none;
}