body {
    background-color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: white;
}

.c-destaque {
    color: rgb(137, 37, 231) !important;
}

nav {
    background-color: rgb(47, 18, 75);
}

nav svg {
    color: white;
    transition-duration: 0.5s;
}

nav svg:hover {
    width: 30px;
    height: 30px;
    color: rgb(137, 37, 231);
}

.botao {
    background-color: rgb(47, 18, 75);
    color: white;
    transition: 0.5s;
}

.botao:hover {
    background-color: rgb(137, 37, 231);
    color: white;
}

.links-menu li a {
    color: white;
    transition: 0.5s;
}

.links-menu li a:hover {
    font-size: large;
    color: rgb(137, 37, 231);
}

footer {
    min-height: 80px;
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
    border-top: solid 1px white;
    flex-wrap: wrap;
    text-align: justify;
    gap: 10px 20px;
    padding: 15px 5%;
}

footer a {
    color: aliceblue;
    transition: 0.5s;
}

footer a:hover {
    color: rgb(137, 37, 231);
}

footer p {
    margin: 0;
    flex-basis: auto;
}

.text-muted {
    color: rgb(146, 95, 175)!important;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column; 
        text-align: center; 
        align-items: center;
    }

    footer p {
        width: 100%; 
        margin-bottom: 10px; 
    }
}